/* Add CSS styles here! */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  max-width: 100%;
  font-family: 'sora';
  background: linear-gradient(#3CB281, #37495F);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}
