/* Add CSS styles here! */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  max-width: 100%;
  font-family: 'sora', sans-serif;
  position: absolute;
  width: 1920px;
  height: 2459px;
  
  background: radial-gradient(51.9% 336.54% at 51.9% 50%, #241B4D 0%, #1B1B1B 100%);
  border-radius: 0px 0px 150px 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}
